body {
    background-image: linear-gradient(to bottom right, #5d737e, #406070);
}

.header {
    padding: 2px;
    text-align: center;
    background-color: #f7eab5;
    color: #2f5264;
    font-size: 100%;
    font-family: "century gothic";
    font-weight: 400px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f7eab5;
    text-align: center;
}
  
.nav li {
    display: inline; 
}
.nav li a {
    display: block;
    color: #2f5264;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 0.6cm;
    
}
.nav {
    font-family: "century gothic";
}

.nav li a:hover {
    background-color: #d9fcfb;
  }

img {
    width: 300px;
}

.row > .column {
    padding: 0 8px;
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
.column {
  float: left;
  width: 25%;
}
 
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #2f5264;
}
  
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 500px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
  
.close:hover, .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
  
.mySlides {
  display: none;
}
  
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
  
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
  
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
  
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
  
img.demo {
  opacity: 0.6;
}
  
.active, .demo:hover {
  opacity: 1;
}
  
img.hover-shadow {
  transition: 0.3s;
}
  
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

footer {
  text-align: center;
  font-family: "century gothic";
}
footer p {
  color: #f7eab5;
}

:focus {
  border: 3px solid;
}

.skip {
  font-size: 150%;
}

.skip a {
  position: relative;
  top: -5rem;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  color: #2f5264;
  background-color: #f7eab5;
  font-family: "century gothic";
  font-size: .5cm;
  padding: 7px;
}
.skip a:focus {
  top: 20px;
}

@media only screen and (max-width: 600px) {

.nav li a {
  display: block;
  font-size: .4cm;
}

.header {
  font-size: 70%;
}

.row {
  grid-template-columns: auto;
}

}

@media only screen and (min-width: 600px) and (max-width: 768px) {

.nav li a {
  font-size: .5cm;
}  

.header {
  font-size: 85%;
}

.row {
  grid-template-columns: auto auto;
}

}

@media only screen and (min-width: 768px) and (max-width: 950px) {
  img {
    width: 240px;
  }
}