@media only screen and (max-width: 600px){
img {
    width: 200px;
}

.cxc {
    display: grid;
    justify-content: center;
    align-content:center;
}

.freshsoph {
    display: grid;
}

.junsen {
    display: grid;
}
body{
    background-image: linear-gradient(to bottom right, #e3dfff, #ccc4ff);
}
.header {
    padding: 2px;
    text-align: center;
    
    background-image: linear-gradient(to bottom right, #3c0919, #521b2d);
    color: white;
    font-size: 100%;
    font-family: "century gothic";
    font-weight: 400px;
}

.header {
    padding: 2px;
    text-align: center;
    /* background: #FF7070; */
    background-image: linear-gradient(to bottom right, #3c0919, #521b2d);
    color: white;
    font-size: 100%;
    font-family: "century gothic";
    font-weight: 400px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #B1072F; */
    background-color: #3c0919;
    text-align: center;
}
  
.nav li {
    /* float: left; */
    display: inline;
    
}
.nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    display: inline-block;
    font-weight: 900px;
}
.nav {
    font-family: "century gothic";
}
  /* Change the link color to #111 (black) on hover */
.nav li a:hover {
    background-color: #e3dfff;
    color: #3c0919;
  }
  #skip {
    text-align: center; 
    background-color: #3c0919;
    text-decoration: none;
    font-family: "century gothic";
    color:#fff;
 }
 #skip a:visited {
     color: white;
     text-decoration: none;
 }
 #skip a {
    color:#fff;
 }

 h2 {
    color: #3c0919;
    text-align: center;
    font-family: "century gothic";
 }

 #intro {
    text-align: center;
    padding: 20px;
 }
 figure {
    /* border: 3px #ff2c55 solid; */
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
    width: 300px;
}


figcaption {
    background-color: #3c0919;
    color: #fff;
    font-family: "century gothic";
    padding: 3px;
    text-align: center;
}
.vert img {
    width: 400px;
}

.vert figure {
    width: 400px;
}
.hor img {
    width: 300px;
}
.hor figure {
    width: 300px;
}
footer {
    text-align: center;
}
footer p {
    color: #3c0919;
}
}

@media only screen and (min-width: 600px) and (max-width: 768px){
    img {
        width: 200px;
    }
    
    .cxc {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: auto auto;
        gap: 15px;
        background-color: #3c0919;
        padding: 15px;
        
    }
    .cxc img {
        background-size: cover;
    }
    .itemcxc{
        background-color:#ff2c55;
        padding: 15px;
    }
    #item3 {
        grid-column: 1 / span 3;
        text-align: center;
        width: 475px;
    }
    #item3 img{
        width: 440px;
    }
    .under {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: auto auto;
        gap: 15px;
        background-color: #3c0919;
        padding: 15px;
    }
    .itemunder{
        background-color:#ff2c55;
        padding: 15px;
    }
    #item4 {
        grid-column: 1 / span 3;
        text-align: center;
        width: 475px;
    }
    #item4 img {
        width: 440px;
    }
    #item6 {
        grid-area: 3 / 1 / span 2 / span 2;
        text-align: center;
        
    }
    #item6 img {
        width: 440px;
    }
    
    .upper {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: auto auto;
        gap: 15px;
        background-color: #3c0919;
        padding: 15px;
    }
    .itemupper{
        background-color:#ff2c55;
        padding: 15px;
    }
    #item8 {
        grid-area: 1 / 1 / span 1 / span 2;
    }
    #item8 img {
        width: 440px;
    }
    #item13 {
        grid-area: 4 / 1 / span 1 / span 2;
    }
    #item13 img {
        width: 440px;
    }
    body{
        background-image: linear-gradient(to bottom right, #e3dfff, #ccc4ff);
    }
    .header {
        padding: 2px;
        text-align: center;
        /* background: #FF7070; */
        background-image: linear-gradient(to bottom right, #3c0919, #521b2d);
        color: white;
        font-size: 100%;
        font-family: "century gothic";
        font-weight: 400px;
    }
    
    .nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        /* background-color: #B1072F; */
        background-color: #3c0919;
        text-align: center;
    }
      
    .nav li {
        /* float: left; */
        display: inline;
        
    }
    .nav li a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
        display: inline-block;
        font-weight: 900px;
    }
    .nav {
        font-family: "century gothic";
    }
      /* Change the link color to #111 (black) on hover */
    .nav li a:hover {
        background-color: #e3dfff;
        color: #3c0919;
      }
      #skip {
        text-align: center; 
        background-color: #3c0919;
        text-decoration: none;
        font-family: "century gothic";
        color:#fff;
     }
     #skip a:visited {
         color: white;
         text-decoration: none;
     }
     #skip a {
        color:#fff;
     }
    
     h2 {
        color: #3c0919;
        text-align: center;
        font-family: "century gothic";
     }
    
     #intro {
        text-align: center;
        padding: 20px;
        border: solid 10px linear-gradient(to bottom right, #ff2c55, #de1940);
        background-image: linear-gradient(to bottom right, #ff2c55, #de1940);
     }
     figure {
        border: 3px #ff2c55 solid;
        display: flex;
        flex-flow: column;
        padding: 5px;
        margin: auto;
    }
    
    
    figcaption {
        background-color: #3c0919;
        color: #fff;
        font-family: "century gothic";
        padding: 3px;
        text-align: center;
    }

    
    .vert figure {
        width: 440px;
    }

    .hor figure {
        width: 200px;
    }
    footer {
        text-align: center;
    }
    footer p {
        color: #3c0919;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1050px){
    img {
        width: 200px;
    }
    body{
        background-image: linear-gradient(to bottom right, #e3dfff, #ccc4ff);
    }
    .header {
        padding: 2px;
        text-align: center;
        /* background: #FF7070; */
        background-image: linear-gradient(to bottom right, #3c0919, #521b2d);
        color: white;
        font-size: 100%;
        font-family: "century gothic";
        font-weight: 400px;
    }
    
    .nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        /* background-color: #B1072F; */
        background-color: #3c0919;
        text-align: center;
    }
      
    .nav li {
        /* float: left; */
        display: inline;
        
    }
    .nav li a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
        display: inline-block;
        font-weight: 500;
    }
    .nav {
        font-family: "century gothic";
    }
      /* Change the link color to #111 (black) on hover */
    .nav li a:hover {
        background-color: #e3dfff;
        color: #3c0919;
      }
      #skip {
        text-align: center; 
        background-color: #3c0919;
        text-decoration: none;
        font-family: "century gothic";
        color:#fff;
     }
     #skip a:visited {
         color: white;
         text-decoration: none;
     }
     #skip a {
        color:#fff;
     }
    
     h2 {
        color: #3c0919;
        text-align: center;
        font-family: "century gothic";
     }
    
    #intro {
        text-align: center;
        padding: 20px;
        background-image: linear-gradient(to bottom right, #ff2c55, #de1940);
    }
     figure {
        border: 3px #e3dfff solid;
        display: flex;
        flex-flow: column;
        padding: 5px;
        margin: auto;
        background-color: #e3dfff;
    }
    figcaption {
        background-color: #e3dfff;
        color: #3c0919;
        font-family: "century gothic";
        padding: 3px;
        text-align: center;
        font-weight: 500;
    }
    .vert img {
        width: 300px;
    }

    .vert figure {
        width: 300px;
    }

    .hor img {
        width: 150px;
    }

    .hor figure {
        width: 150px;
    }
    .cxc {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: auto auto auto auto;
        gap: 15px;
        background-color: #3c0919;
        padding: 15px;
        margin: auto;
    }
    #item3 {
        grid-area: 1 / 2 / span 1 / span 2;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .under {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: auto auto auto;
        gap: 15px;
        background-color: #3c0919;
        padding: 15px;
        margin: auto;
    }

    #item4 {
        grid-area: 1 / 2 / span 1 / span 2;
    }

    #item6 {
        grid-area: 2 / 1 / span 1 / span 2;
    }

    .under .vert img {
        width: 300px;
    }
    .under .vert figure {
        width: 300px;
    }

   .upper {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: auto auto auto auto;
        gap: 15px;
        background-color: #3c0919;
        padding: 15px;
        margin: auto;
   }

   #item8 {
    grid-area: 1 / 1 / span 1 / span 2;
    justify-content: center;
    align-items: center;
    margin: auto;
   }

   #item13 {
    grid-area: 1 / 3 / span 1 / span 2;
    justify-content: center;
    align-items: center;
    margin: auto;
   }

   footer {
    text-align: center;
}
footer p {
    color: #3c0919;
}

}

@media only screen and (min-width: 1050px){
    img {
        width: 200px;
    }
    body{
        background-image: linear-gradient(to bottom right, #e3dfff, #ccc4ff);
    }
    .header {
        padding: 2px;
        text-align: center;
        /* background: #FF7070; */
        background-image: linear-gradient(to bottom right, #3c0919, #521b2d);
        color: white;
        font-size: 100%;
        font-family: "century gothic";
        font-weight: 400px;
    }
    
    .nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #3c0919;
        text-align: center;
    }
      
    .nav li {
        /* float: left; */
        display: inline;
        
    }
    .nav li a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
        display: inline-block;
        font-weight: 500;
    }
    .nav {
        font-family: "century gothic";
    }
      /* Change the link color to #111 (black) on hover */
    .nav li a:hover {
        background-color: #e3dfff;
        color: #3c0919;
      }
      #skip {
        text-align: center; 
        background-color: #3c0919;
        text-decoration: none;
        font-family: "century gothic";
        color:#fff;
     }
     #skip a:visited {
         color: white;
         text-decoration: none;
     }
     #skip a {
        color:#fff;
     }
    
     h2 {
        color: #3c0919;
        text-align: center;
        font-family: "century gothic";
     }
    
     #intro {
        text-align: center;
        padding: 20px;
        border: solid 10px linear-gradient(to bottom right, #ff2c55, #de1940);
        background-image: linear-gradient(to bottom right, #ff2c55, #de1940);
     }
     figure {
        border: 3px #e3dfff solid;
        display: flex;
        flex-flow: column;
        padding: 5px;
        margin: auto;
        background-color: #e3dfff;
    }
    figcaption {
        background-color: #e3dfff;
        color: #3c0919;
        font-family: "century gothic";
        padding: 3px;
        text-align: center;
        font-weight: 500;
    }
    .vert img {
        width: 465px;
    }

    .vert figure {
        width: 465px;
    }

    .hor img {
        width: 225px;
    }

    .hor figure {
        width: 225px;
    }
    .cxc {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: auto auto auto auto;
        gap: 15px;
        background-color: #3c0919;
        padding: 15px;
        margin: auto;
    }
    #item3 {
        grid-area: 1 / 2 / span 1 / span 2;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .under {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: auto auto auto;
        gap: 15px;
        background-color: #3c0919;
        padding: 15px;
        margin: auto;
    }

    #item4 {
        grid-area: 1 / 2 / span 1 / span 2;
    }

    #item6 {
        grid-area: 2 / 1 / span 1 / span 2;
    }

    .under .hor img {
        width: 320px;
    }
    .under .hor figure {
        width: 320px;
    }
    .under .vert figure {
        width: 595px;
    }
    .under .vert img {
        width: 595px;
    }
    
    

   .upper {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: auto auto auto auto;
        gap: 15px;
        background-color: #3c0919;
        padding: 15px;
        margin: auto;
   }

   #item8 {
    grid-area: 1 / 1 / span 1 / span 2;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px 7.5px 15px 15px;
    
   }

   #item13 {
    grid-area: 1 / 3 / span 1 / span 2;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px 15px 15px 7.5px;
   }

   footer {
    text-align: center;
}
footer p {
    color: #3c0919;
}

}

#skip a {
    text-decoration: none;
    font-size: 0.6cm;
}

#skip {
    margin-bottom: 10px;
}
footer {
    font-family: "century gothic";
}
:focus {
    border: 2px solid;
  }