footer {
    font-family: "century gothic";
}
:focus {
    border: 2px solid;
  }
#intro img {
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    img{    
        width: 200px;
    } 
    h2 {
        color: #34113F;
        text-align: center;
        font-family: "century gothic";
    }
.elementary {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.middle {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
#intro {
    display: block;
    margin: auto;
    text-align: center;
}
#intro img {
    width: 350px;
}
body {
    background-image: linear-gradient(to bottom right, #beb7df, #D6F6DD);
}
.header {
    padding: 2px;
    text-align: center;
    /* background: #FF7070; */
    background-image: linear-gradient(to bottom right, #f44747, #fb8989);
    color: white;
    font-size: 70%;
    font-family: "century gothic";
    font-weight: 400px;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #34113F;
    text-align: center;
}
.nav li {
    /* float: left; */
    display: inline;
    
}
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: .4cm;
}
.nav {
    font-family: "century gothic";
}
.nav li a:hover {
    background-color: #BEB7DF;
  }
figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
}
figcaption {
    background-color: #34113F;
    color: #fff;
    font-family: "century gothic";
    padding: 3px;
    text-align: center;
}
footer {
    text-align: center;
}
footer p {
    color:#34113F;
}

.hor img {
    width: 350px;
}
.hor figure {
    width: 350px;
}
.vert img {
    width: 275px;
}
.vert figure {
    width: 275px;
}
}

@media only screen and (min-width: 600px) and (max-width: 768px){
img{
    width: 200px;
}
h2 {
    color: #34113F;
    text-align: center;
    font-family: "century gothic";
}
.elementary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.middle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#intro {
    display: block;
    margin: auto;
    text-align: center;
}
#intro img{
    text-align: center;
    width: 450px;
}
body {
    background-image: linear-gradient(to bottom right, #beb7df, #D6F6DD);
}
.header {
    padding: 2px;
    text-align: center;
    /* background: #FF7070; */
    background-image: linear-gradient(to bottom right, #f44747, #fb8989);
    color: white;
    font-size: 100%;
    font-family: "century gothic";
    font-weight: 400px;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #34113F;
    text-align: center;
} 
.nav li {
    /* float: left; */
    display: inline;
    
}
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    display: inline-block;
    font-size: .5cm;
}
.nav {
    font-family: "century gothic";
}
.nav li a:hover {
    background-color: #BEB7DF;
  }
figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
}
figcaption {
    background-color: #34113F;
    color: #fff;
    font-family: "century gothic";
    padding: 3px;
    text-align: center;
}
footer {
    text-align: center;
}
footer p {
    color: #34113F;
}
.hor img {
    width: 330px;
}
.hor figure {
    width: 330px;
}
.vert img {
    width: 250px;
}
.vert figure {
    width: 250px;
}

}

@media only screen and (min-width: 768px){
    img{
        width: 200px;
    }
    h2 {
        color: #34113F;
        text-align: center;
        font-family: "century gothic";
    }
    .elementary {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .middle {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    #intro {
        display: block;
        text-align: center;
    }
    #intro img {
        width: 400px;
        text-align:center;
    } 
    body {
        background-image: linear-gradient(to bottom right, #beb7df, #D6F6DD);
    }
    .header {
        padding: 2px;
        text-align: center;
        /* background: #FF7070; */
        background-image: linear-gradient(to bottom right, #f44747, #fb8989);
        color: white;
        font-size: 100%;
        font-family: "century gothic";
        font-weight: 400px;
    }
    .nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #34113F;
        text-align: center;
    }
    .nav li {
        /* float: left; */
        display: inline;
        
    }
    .nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
        display: inline-block;
        font-size: .6cm;
    }
    .nav {
        font-family: "century gothic";
    }
    .nav li a:hover {
        background-color: #BEB7DF;
      }
    figure {
        display: flex;
        flex-flow: column;
        padding: 5px;
        margin: auto;
    }
    figcaption {
        background-color: #34113F;
        color: #fff;
        font-family: "century gothic";
        padding: 3px;
        text-align: center;
    }
    footer {
        text-align: center;
    }
    footer p {
        color: #34113F;
    }
    .hor img {
        width: 400px;
    }
    .hor figure {
        width: 400px;
    }
    .vert img {
        width: 325px;
    }
    .vert figure {
        width: 325px;
    }
}
.skip {
    font-size: 150%;
}
 
.skip a {
    position: relative;
    top: -5rem;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    color: #fff;
    background-color: #34113F;
    font-family: "century gothic";
    font-size: .5cm;
    padding: 7px;
}

.skip a:focus {
    top: 20px;
}
